{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-param-reassign": ["error", { "props": false }],
    "object-curly-newline": ["error", { "multiline": true }],
    "no-case-declarations": ["off"]
  }
}